.Admin_users_page {
  width: 90%;
  margin: 0 auto;

  & > .page_header_users {
    margin-top: 50px;
    font-size: 2rem;
    color: $primary-color;
    text-align: center;
  }
}

.page_header {
  margin-top: 30px;
  text-align: center;
  color: $primary-color;
}
