.Blog_layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

  & > .layout_search {
    text-align: center;
    margin-top: 100px !important;
  }
}
