.About_container{
  text-align: center;

  & > .container_header {
    margin-bottom: 30px;
    font-size: 3rem;
  }
  & > .container_content {
    font-size: 1.3rem;
    color: $secondary-color;

    & > img, & > p > img {
      display: block;
      margin: 0 auto;
      width: 90%;
      @include md {
        width: 80%;
      }
      @include lg {
        width: 50%;
      }
    }
  }

  @include sm {
    width: 70%;
    margin: 0 auto;
  }
}
