.Gallery_container {
    text-align: left;
    & > .container_form, & > .container_header {
        margin-top: 30px;
        text-align: center;
    }
}
.container_image {
    margin: 0 auto;
    margin-top: 40px !important;
    text-align: center;
    & > .image {
        width: 250px;
        height: 250px;
    }

    @include md {
        display: inline-block;
        width: 50%;
    }

    @include lg {
        width: 33%;
    }

    @include xxl {
        width: 25%;
    }
}