.Latest_post {
  position: relative;
  margin: auto;
  height: 100%;
  margin-top: 50px !important;
  width: 90%;
  flex-shrink: 0;
  flex-grow: 1;

  @include lg {
    display: flex;
    height: 350px;
  }
  & > .Post_image {
    border-radius: 10px;
    height: 40%;
    width: 100%;

    @include lg {
      width: 50%;
      height: 85% !important;
    }

    @include sm {
      height: 50%;
    }
  }
  & > .Post_box {
    @include lg {
      position: relative;
      width: 50%;
      margin-left: 5%
    }

    & > .box_content {
      @include xl {
        height: 50%;
        margin-top: 5%;
      }

      @include xxl {
        margin-top: 10%;
      }
      & > .content_info {
        text-align: left;
        font-size: 1.4rem;
        & > .info_tags {
          color: $primary-color;
          font-weight: 700;
        }
        & > .info_date {
          color: $secondary-color;
        }

        @include md {
          font-size: 1.7rem;
        }
      }
      & > .content_header {
        font-size: 2.5rem;
        text-align: left;
        word-break: break-all;

        @include md {
          font-size: 2.8rem;
        }
      }
      & > .content_description {
        display: -webkit-box;
        font-size: 1.3rem;
        text-align: left;
        max-height: 100px;
        max-width: 90%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-wrap: break-word;

        @include md {
          font-size: 1.6rem;
        }
      }
      & > .content_btn--bottom {
        position: absolute !important;
        bottom: 100px;

      }
      & > .content_btn--left {
        margin-left: 0;
        margin-right: auto;
        margin-top: 50px;
        display: block;
      }
    }
  }
}
