.Post_card {
  position: relative;
  width: 90% !important;
  min-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px !important;
  padding-bottom: 70px;
  padding-top: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 20px -17px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 20px -17px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 20px -17px rgba(66, 68, 90, 1);
  transition: .5s;
  word-break: break-all;

  &:hover {
    border: 1px solid $secondary-color;
    transition: .5s;
    cursor: pointer;
  }

  & > .card_image {
    width: 95%;
    height: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
  & > .card_content {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    & > .content_info {
      font-size: 1.4rem;
      & > .info_tags {
        color: $primary-color;
        font-weight: 700;
      }
      & > .info_date {
        color: $secondary-color;
      }
    }
    & > .content_header {
      font-size: 2.5rem;
    }
    & > .content_description {
      display: -webkit-box;
      font-size: 1.3rem;
      max-height: 100px;
      max-width: 90%;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  & > .card_btn {
    position: absolute;
    width: 100%;
    bottom: 20px;

    & > .btn--center {
      position: relative;
      margin: auto;
    }
  }

  @include md {
    width: 45% !important;
    margin: 0!important;
    margin-top: 30px !important;
  }

  @include xl {
    padding-bottom: 30px !important;;
  }

  @include xxl {
    width: 30% !important;;
  }
}
