.Reactions_container {
  margin-top: 50px;
  & > .container_header {
    font-size: 2rem;
    color: $primary-color;
  }
  & > .container_icon {
    display: inline-flex;
    margin-top: 15px;
    font-size: 3.5rem;

    & > .icon_like {
      color: #66B2FF;
      &:hover {
        color: $primary-color;
      }
    }
    & > .icon_heart {
      color: #FF6666;
      &:hover {
        color: #e31b23;
      }
    }
    & > .icon_star {
      color: #FFB266;
      &:hover {
        color: #ffd27d;
      }
    }
    & > .icon_like:hover, .icon_heart:hover, .icon_star:hover {
      cursor: pointer;
    }
    & > .icon_count_reactions {
      margin-left: 5px;
    }
  }
  & > .container_icon--margin-left {
    margin-left: 20px;
  }
}

.active_heart {
  color: #e31b23 !important;
  &:hover {
    cursor: pointer;
  }
}

.active_like {
  color: $primary-color !important;
  &:hover {
    cursor: pointer;
  }
}

.active_star {
  color: #ffd27d !important;
  &:hover {
    cursor: pointer;
  }
}
