.User_card {
  text-align: center;

  & > .user_header {
    margin-bottom: 30px;
    font-size: 3rem;
  }
  & > .user_content {
    font-size: 1.3rem;
    color: $secondary-color;
  }

  @include sm {
    width: 70%;
    margin: 0 auto;
  }
}
