
@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: local("Montserrat"),
    url(~assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

html, body {
    margin: 0 auto;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.pagination_container {
    width: 100%;
    margin-top: 50px;
}

.form_error {
    margin-top: 15px;
    color: red;
    font-size: 1.3rem;
}
.form_success {
    color: green;
    font-weight: 700;
    font-size: 1.8rem;
}

.form_error, .form_success {
    text-align: center;
}